/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b2 | 201101
   NOTE: THIS IS A BETA VERSION (see previous line)
   USE WITH CAUTION AND TEST WITH ABANDON */
/* line 18, ../../app/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../../app/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../app/stylesheets/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../app/stylesheets/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../app/stylesheets/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../../app/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../app/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../app/stylesheets/_base.scss */
body {
  font-size: 13px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 5, ../../app/stylesheets/_base.scss */
body * {
  line-height: 1.5em;
}

/* line 8, ../../app/stylesheets/_base.scss */
address {
  font-style: normal;
}

/* line 10, ../../app/stylesheets/_base.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 15, ../../app/stylesheets/_base.scss */
blockquote {
  padding: 20px 30px;
}

/* line 17, ../../app/stylesheets/_base.scss */
caption {
  margin-bottom: .5em;
  text-align: left;
}

/* line 22, ../../app/stylesheets/_base.scss */
cite {
  font-style: italic;
}

/* line 24, ../../app/stylesheets/_base.scss */
code {
  font-family: monospace;
}

/* line 26, ../../app/stylesheets/_base.scss */
dl {
  margin: 0 0 1.5em 30px;
}
/* line 29, ../../app/stylesheets/_base.scss */
dl dt {
  font-weight: bold;
}
/* line 30, ../../app/stylesheets/_base.scss */
dl dd {
  margin-left: 20px;
}

/* line 33, ../../app/stylesheets/_base.scss */
em {
  font-style: italic;
}

/* line 35, ../../app/stylesheets/_base.scss */
form {
  line-height: 1.5em;
}
/* line 38, ../../app/stylesheets/_base.scss */
form fieldset {
  border: 1px solid #000;
  margin: 0 0 0.5em 0;
  padding: 10px;
}
/* line 43, ../../app/stylesheets/_base.scss */
form fieldset legend {
  padding: 0 5px;
}
/* line 46, ../../app/stylesheets/_base.scss */
form input, form select, form textarea {
  font-size: 13px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 51, ../../app/stylesheets/_base.scss */
form input[type=text], form input[type=password], form textarea {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-top-color: #7c7c7c;
  border-bottom-color: #ddd;
  padding: 3px;
}
/* line 59, ../../app/stylesheets/_base.scss */
form textarea {
  overflow: auto;
}

/* line 62, ../../app/stylesheets/_base.scss */
h1 {
  font-size: 2.5em;
}

/* line 63, ../../app/stylesheets/_base.scss */
h2 {
  font-size: 2em;
}

/* line 64, ../../app/stylesheets/_base.scss */
h3 {
  font-size: 1.5em;
}

/* line 65, ../../app/stylesheets/_base.scss */
h1, h2, h3 {
  margin-bottom: .5em;
}

/* line 66, ../../app/stylesheets/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 68, ../../app/stylesheets/_base.scss */
iframe {
  border: 1px solid #000;
}

/* line 70, ../../app/stylesheets/_base.scss */
kbd {
  font-family: monospace;
}

/* line 72, ../../app/stylesheets/_base.scss */
ol {
  margin: 0 0 1.5em 30px;
}
/* line 75, ../../app/stylesheets/_base.scss */
ol li {
  list-style: decimal outside;
}
/* line 76, ../../app/stylesheets/_base.scss */
ol ol, ol ul {
  margin-bottom: 0;
}

/* line 79, ../../app/stylesheets/_base.scss */
p {
  margin-bottom: 1.5em;
}

/* line 81, ../../app/stylesheets/_base.scss */
pre {
  margin-bottom: 1.5em;
}

/* line 83, ../../app/stylesheets/_base.scss */
strong {
  font-weight: bold;
}

/* line 86, ../../app/stylesheets/_base.scss */
table td, table th {
  border: 1px solid #000;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
}
/* line 93, ../../app/stylesheets/_base.scss */
table th {
  font-weight: bold;
}
/* line 96, ../../app/stylesheets/_base.scss */
table thead th {
  vertical-align: bottom;
}

/* line 100, ../../app/stylesheets/_base.scss */
tt {
  font-family: monospace;
}

/* line 102, ../../app/stylesheets/_base.scss */
ul {
  margin: 0 0 1.5em 30px;
}
/* line 105, ../../app/stylesheets/_base.scss */
ul li {
  list-style: disc outside;
}
/* line 106, ../../app/stylesheets/_base.scss */
ul ul, ul ol {
  margin-bottom: 0;
}

/* line 109, ../../app/stylesheets/_base.scss */
var {
  font-family: monospace;
}

/* line 32, ../../app/stylesheets/screen.scss */
button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(4%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 4%, #dddddd 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 4%, #dddddd 100%);
  border: none;
  -webkit-box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
  vertical-align: middle;
}
/* line 48, ../../app/stylesheets/screen.scss */
button:active {
  background: #919191;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #919191), color-stop(4%, #b7b7b7), color-stop(100%, #cbcbcb));
  background-image: -moz-linear-gradient(top, #919191 0%, #b7b7b7 4%, #cbcbcb 100%);
  background-image: linear-gradient(top, #919191 0%, #b7b7b7 4%, #cbcbcb 100%);
}
/* line 53, ../../app/stylesheets/screen.scss */
button img {
  vertical-align: middle;
}

/* line 60, ../../app/stylesheets/screen.scss */
form .input label {
  display: block;
}
/* line 62, ../../app/stylesheets/screen.scss */
form label {
  font-weight: bold;
}
/* line 66, ../../app/stylesheets/screen.scss */
form input[type=text],
form input[type=password],
form textarea {
  background: white url("/images/text_field_bg.gif") repeat-x left top;
}
/* line 70, ../../app/stylesheets/screen.scss */
form .input {
  margin: 0 0 10px 0;
}

/* line 84, ../../app/stylesheets/screen.scss */
#header {
  background: #333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #333333), color-stop(100%, #666666));
  background-image: -moz-linear-gradient(top, #333333 0%, #666666 300px);
  background-image: linear-gradient(top, #333333 0%, #666666 300px);
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
  color: #fff;
  padding: 20px;
}
/* line 87, ../../app/stylesheets/screen.scss */
#header h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

/* line 93, ../../app/stylesheets/screen.scss */
#content {
  background: #333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #333333), color-stop(100%, #666666));
  background-image: -moz-linear-gradient(top, #333333 0%, #666666 300px);
  background-image: linear-gradient(top, #333333 0%, #666666 300px);
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
  color: #fff;
  padding: 20px;
}

/* line 102, ../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/* line 107, ../../app/stylesheets/screen.scss */
form.instruction textarea {
  width: 100%;
}
/* line 111, ../../app/stylesheets/screen.scss */
form.instruction .input.description {
  padding: 0 8px 0 0;
}
/* line 115, ../../app/stylesheets/screen.scss */
form.instruction .title {
  background: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 300px);
  background-image: linear-gradient(top, #eeeeee 0%, #dddddd 300px);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: black 0px 2px 5px 0;
  -webkit-box-shadow: black 0px 2px 5px 0;
  -o-box-shadow: black 0px 2px 5px 0;
  box-shadow: black 0px 2px 5px 0;
  color: #333;
}
/* line 15, ../../app/stylesheets/screen.scss */
form.instruction .title button {
  border: 1px solid #aaaaaa;
}
/* line 118, ../../app/stylesheets/screen.scss */
form.instruction .title .input {
  padding: 20px;
  margin: 0 8px 20px 0;
}
/* line 123, ../../app/stylesheets/screen.scss */
form.instruction .title input {
  width: 100%;
}
/* line 126, ../../app/stylesheets/screen.scss */
form.instruction .add_step {
  float: right;
  margin: 0 0 10px 0;
}
/* line 128, ../../app/stylesheets/screen.scss */
form.instruction .steps {
  margin: 0 0 20px 0;
}
/* line 132, ../../app/stylesheets/screen.scss */
form.instruction .steps_title {
  float: left;
  padding: 0 10px;
}
/* line 137, ../../app/stylesheets/screen.scss */
form.instruction .steps_body {
  background: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 300px);
  background-image: linear-gradient(top, #eeeeee 0%, #dddddd 300px);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: black 0px 2px 5px 0;
  -webkit-box-shadow: black 0px 2px 5px 0;
  -o-box-shadow: black 0px 2px 5px 0;
  box-shadow: black 0px 2px 5px 0;
  color: #333;
}
/* line 15, ../../app/stylesheets/screen.scss */
form.instruction .steps_body button {
  border: 1px solid #aaaaaa;
}
/* line 141, ../../app/stylesheets/screen.scss */
form.instruction .step {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #bbb;
  color: #333;
  padding: 20px;
  position: relative;
}
/* line 148, ../../app/stylesheets/screen.scss */
form.instruction .step .remove_step {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 154, ../../app/stylesheets/screen.scss */
form.instruction .step.first {
  border-top: none;
}
/* line 155, ../../app/stylesheets/screen.scss */
form.instruction .step.last {
  border-bottom: none;
}
/* line 157, ../../app/stylesheets/screen.scss */
form.instruction .commands {
  margin: 10px 0 0 0;
}
/* line 159, ../../app/stylesheets/screen.scss */
form.instruction .commands input {
  width: 73%;
}
/* line 162, ../../app/stylesheets/screen.scss */
form.instruction .commands .add_command button {
  vertical-align: baseline;
}
/* line 164, ../../app/stylesheets/screen.scss */
form.instruction .command {
  margin: 0 0 5px 0;
  padding: 0 10px 0 0;
}
/* line 168, ../../app/stylesheets/screen.scss */
form.instruction .command input, form.instruction .command .remove_command {
  float: left;
}
/* line 169, ../../app/stylesheets/screen.scss */
form.instruction .command input {
  display: block;
  margin: 0 10px 0 0;
}
/* line 173, ../../app/stylesheets/screen.scss */
form.instruction .command .remove_command {
  display: block;
}
/* line 177, ../../app/stylesheets/screen.scss */
form.instruction .form_footer button {
  font-size: 14px;
}

/* line 183, ../../app/stylesheets/screen.scss */
.instructions {
  background: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 300px);
  background-image: linear-gradient(top, #eeeeee 0%, #dddddd 300px);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: black 0px 2px 5px 0;
  -webkit-box-shadow: black 0px 2px 5px 0;
  -o-box-shadow: black 0px 2px 5px 0;
  box-shadow: black 0px 2px 5px 0;
  color: #333;
  padding: 20px;
}
/* line 15, ../../app/stylesheets/screen.scss */
.instructions button {
  border: 1px solid #aaaaaa;
}
/* line 192, ../../app/stylesheets/screen.scss */
.instructions .step {
  margin-bottom: 20px;
}
/* line 196, ../../app/stylesheets/screen.scss */
.instructions .commands {
  padding-left: 20px;
}
