@import "reset";
@import "base";
@import "compass/css3";

$images_path: "/images";
$base_color: #ddd;

@mixin box() {
  background: #ddd;
  @include linear-gradient(color-stops(#eee, #ddd 300px));
  @include border-radius(10px);
  @include box-shadow(#000, 0px, 2px);
  color: #333;

  button {
    border: 1px solid darken($base_color, 20%);
  }
}

@mixin section() {
  background: #333;
  @include linear-gradient(color-stops(#333, #666 300px));
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
  color: #fff;
  padding: 20px;
}

//////////////////////////////////////////////////
// Forms

button {
  @include border-radius(5px);
  background: lighten($base_color, 30%);
  @include linear-gradient(color-stops(lighten($base_color, 30%), lighten($base_color, 15%) 4%, $base_color));

  border: none;
  -webkit-box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
  vertical-align: middle;

  &:active {
    background: darken($base_color, 30%);
    @include linear-gradient(color-stops(darken($base_color, 30%), darken($base_color, 15%) 4%, darken($base_color, 7%)));
  }

  img {
    vertical-align: middle;
  }
}

form {
  .input {
    label { display: block; }
  }
  label { font-weight: bold; }

  input[type=text],
  input[type=password],
  textarea {
    background: #fff url($images_path + "/text_field_bg.gif") repeat-x left top;
  }

  .input { margin: 0 0 10px 0; }
}


//////////////////////////////////////////////////
// Misc. Elements

//body { background: #fff; }



//////////////////////////////////////////////////
// Layout

#header {
  @include section();

  h1 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

#content {
  @include section();
}



//////////////////////////////////////////////////
// Specifics

.clear {
  clear: both;
}

form.instruction {
  textarea {
    width: 100%;
  }

  .input.description {
    padding: 0 8px 0 0;
  }

  .title {
    @include box();

    .input {
      padding: 20px;
      margin: 0 8px 20px 0;
    }

    input { width: 100%; }
  }

  .add_step { float: right; margin: 0 0 10px 0; }

  .steps {
    margin: 0 0 20px 0;
  }

  .steps_title {
    float: left;
    padding: 0 10px;
  }

  .steps_body {
    @include box();
  }

  .step {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bbb;
    color: #333;
    padding: 20px;
    position: relative;

    .remove_step {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  .step.first { border-top: none; }
  .step.last { border-bottom: none; }

  .commands {
    margin: 10px 0 0 0;
    input {
      width: 73%;
    }
    .add_command { button { vertical-align: baseline; } }
  }
  .command {
    margin: 0 0 5px 0;
    padding: 0 10px 0 0;

    input, .remove_command { float: left; }
    input {
      display: block;
      margin: 0 10px 0 0;
    }
    .remove_command { display: block; }
  }

  .form_footer {
    button {
      font-size: 14px;
    }
  }
}

.instructions {
  @include box();

  padding: 20px;

  .steps {
    //padding-left: 20px;
  }

  .step {
    margin-bottom: 20px;
  }

  .commands {
    padding-left: 20px;
  }
}