@import "reset";
@import "base";
@import "compass/css3";

$images_path: "/images";
$button_base_color: #ddd;
$link_color: #33f;

@mixin box() {
  background: #eee;
  @include border-radius(10px);
  @include box-shadow(#000, 0px, 2px);
  color: #333;

  button {
    border: 1px solid darken($button_base_color, 20%);
  }
}

@mixin section() {
  background: #333;
  @include linear-gradient(color-stops(#333, #666 300px));
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
  color: #fff;
  padding: 20px 3%;

  a { color: lighten($link_color, 30%); }
}

//////////////////////////////////////////////////
// Forms

button {
  @include border-radius(5px);
  background: lighten($button_base_color, 30%);
  @include linear-gradient(color-stops(lighten($button_base_color, 30%), lighten($button_base_color, 15%) 4%, $button_base_color));

  border: none;
  -webkit-box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
  vertical-align: middle;

  &:active {
    background: darken($button_base_color, 30%);
    @include linear-gradient(color-stops(darken($button_base_color, 30%), darken($button_base_color, 15%) 4%, darken($button_base_color, 7%)));
  }

  img {
    vertical-align: middle;
  }
}

form {
  .input {
    label { display: block; }
  }
  label { font-weight: bold; }

  input[type=text],
  input[type=password],
  textarea {
    background: #fff url($images_path + "/text_field_bg.gif") repeat-x left top;
  }
}


//////////////////////////////////////////////////
// Misc. Elements

//body { background: #fff; }

a { color: $link_color; }


//////////////////////////////////////////////////
// Layout

#header {
  background: #eee;
  color: #333;
  padding: 10px 3%;

  h1 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

#content {
  @include section();
}

#footer {
  @include section();

  .col1 {
    float: left;
    width: 50%;
  }
  .col2 {
    float: right;
    width: 50%;
  }
}



//////////////////////////////////////////////////
// Specifics

.clear {
  clear: both;
}

form.instruction {
  textarea, input[type=text] { width: 100%; }

  .input { padding: 0 8px 0 0; }

  .title {
    @include box();
    margin-bottom: 20px;
    padding: 20px;
  }

  .steps { margin: 0 0 20px 0; }

  .step {
    @include box();
    //background: #eee;

    color: #333;
    margin: 0 0 10px 0;

    .step_header {
      @include border-top-radius(10px);
      background: #ddd;
      border-bottom: 1px solid #bbb;
      padding: 10px 10px 10px 20px;

      h2, h3, h4 {
        color: #555;
        float: left;
        line-height: 1.2em;
        margin-bottom: 0;
      }

      .remove_step { float: right; }
    }

    .step_body {
      border-top: 1px solid #fff;
      padding: 10px 20px 20px 20px;
    }

    .commands {
      margin: 10px 0 0 0;

      .add_command { button { vertical-align: baseline; } }

      .command {
        margin-bottom: 5px;
        position: relative;

        .input {
          margin: 0 74px 0 0;
          padding: 0 10px 0 0;
          position: relative;
        }

        .remove_command {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }


  .form_footer {
    button {
      font-size: 14px;
    }
  }
}

.instructions {
  @include box();

  padding: 20px;

  .steps {
    //padding-left: 20px;
  }

  .step {
    margin-bottom: 20px;
  }

  .commands {
    padding-left: 20px;
  }
}